@charset "utf-8"; 
/* CSS Document */
body,ul,li,img,h2,h1,input{margin:0; padding:0;  list-style:none; border:0; font:12px/24px "微软雅黑";}
img{display:block;}
input{color:#ccc;}
.font1{color:#333; border-bottom:1px solid #59B5FC;}
a{color:#727272; text-decoration:none;}
.landingBox{width:1000px; height:70px; margin:0 auto; overflow:hidden;}
.landingLogo{float:left;}
.nav{width:380px; height:26px; margin:40px 9px 0 0; float:right;}
.nav li{float:left; margin-left:23px;}
/*main*/
.mainbox{width:100%; height:500px; background:url(../images/conterpic3.jpg) repeat-x;}
.mainCentent{width:1000px; height:500px; margin:0 auto; overflow:hidden;}
.gmail{margin:50px 0 0 30px; float:left;}
.loginIndex{width:252px; height:340px; border:1px solid #CCC; background:#FFF; float:right; margin:60px 80px 0 0; padding:0 0 0 12px; position:relative;}
.loginLogo{display:block; width:212px; height:42px; margin-bottom:35px; background:url(../images/tit.jpg) no-repeat;}
.QRlogin{display:block; width:40px; height:40px; position:absolute; top:0px; right:0px; display:block; background:url(../images/QR1.jpg) no-repeat center center; cursor:pointer; }
.QRlogin:hover{background:url(../images/QR2.jpg) no-repeat center center;}
.loginIndexDiv{width:241px; height:31px; line-height:31px; overflow:hidden; border-bottom:1px solid #E5E5E5; margin-bottom:11px; position:relative;}
.loginIndexDiv input{float:left; width:142px; height:31px; padding-left:6px; border:none; color:#999;}
.loginIndexDiv span{display:block; float:left; height:31px; padding-left:7px; color:#B8B8B8;}
.loginInputCheckbox{width:241px; height:31px; line-height:31px; overflow:hidden; margin-bottom:11px;}
.loginInputCheckbox input{float:left; margin-top:10px;}
.loginInputCheckbox span{float:left; padding-left:6px; color:#666;}
.loginButton{display:block; width:241px; height:33px; line-height: 33px; text-align: center; color: #fff; background-color: #3079ED; 
border: 1px #3079ED solid; border-radius: 2px; margin-bottom: 18px; font-size: 14px;}
.loginButton:hover{background:#196bed;}
.registeredButton{display: block; width: 241px; height: 33px; line-height: 33px; text-align: center; color: #DD4B39; background-color: #F7F7F7; border: 1px #EDEDED solid; border-radius: 2px; font-size: 14px;}
.registeredButton:hover{background:#e5e5e5;}
.clientBox{width: 150px; height: 28px; overflow: hidden; float: left; margin:10px 0 0 0;}
.clientBox a{float: left; color: #DD4B39;}
.connect{display:block; width:60px; height:28px; float:left; padding:10px 0 0 24px; background:url(../images/MC_icon.png) no-repeat left center; margin-right:-5px;}
.footer{width:1000px; height:26px; margin:0 auto; padding:9px 0 0 0;}
.footer span{height:26px; float:left; color:#727272;}
.footer ul{float:right;}
.footer ul li{float:left; margin-left:20px;}